*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}
.wrapper {
  min-height: 100vh;
  overflow: hidden;
  max-width: 1430px;
  margin: 0px auto;
  padding: 0 15px;
}
input {
  outline: none;
  font-size: 16px;
  padding: 5px;
}
h1 {
  margin: 30px 0 40px;
  text-align: center;
}
.edit-box {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.wrap-input {
  display: inline;
  position: relative;
}
.edit-box__btn--reset {
  position: absolute;
  top: -6px;
  right: 6px;
  color: #666;
  border: 0;
  display: none;
  padding: 7px;
  background-color: #fff;
  outline: none;
}
.edit-box__text:valid ~ .edit-box__btn--reset {
  display: block;
}
.js-btn-reset--active {
  display: block;
}
.edit-box__btn--reset:hover {
  color: #000;
}
.edit-box__btn {
  color: #fff;
  width: 100px;
  background: #2063fd;
  border: #2063fd solid 2px;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 500ms ease;
}
.edit-box__btn:hover {
  background: #306eff;
  border: #306eff solid 2px;
  transition: all 500ms ease;
  cursor: pointer;
}
.js-btn-add--disabled {
  background: #585858;
  border: #585858 solid 2px;
}
.js-btn-add--disabled:hover {
  background: #585858;
  border: #585858 solid 2px;
}
.js-btn-upd--disabled {
  background: #585858;
  border: #585858 solid 2px;
}
.js-btn-upd--disabled:hover {
  background: #585858;
  border: #585858 solid 2px;
}
.js-btn-add--hidden,
.js-btn-upd--hidden {
  display: none;
}
.edit-box__text {
  width: 300px;
}
.list-box {
  display: flex;
  justify-content: center;
}
.list-box__items {
  width: 400px;
  border: solid 1px #9e9e9e;
  border-radius: 5px;
}
.js-list--empty {
  visibility: hidden;
}
.js-list__item {
  height: 36px;
  display: flex;
  align-items: center;
  position: relative;
}
.js-list__item:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  width: 400px;
  height: 1px;
  background-color: #9e9e9e;
}
.js-cb {
  margin: 0 7px 0 15px;
}
.js-item__label {
  width: 100%;
}
.js-cb:hover {
  cursor: pointer;
}
.js-item__label:hover {
  cursor: text;
}
.js-item__close {
  padding: 5px 10px;
  margin-right: 5px;
  border: #fff solid 1px;
}
.js-item__close:hover {
  cursor: pointer;
  border: #9e9e9e solid 1px;
  border-radius: 7px;
  background-color: #ff4848;
}
.js-cb--checked {
  text-decoration: line-through;
  color: #767676;
}
.js-li--active {
  border: #2063fd solid 1px;
}
